<%- include('./fragments/header.ejs') %>

<main>
            <h2> Strona główna</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eum laborum quibusdam temporibus. Cum delectus hic incidunt laudantium repellendus? Aliquam autem beatae cum dolorem eligendi excepturi fuga laboriosam molestiae nostrum perspiciatis quia, quo rerum sapiente sit, voluptatibus? Ab accusantium ad assumenda at cumque deleniti eaque eius esse fuga hic magnam minus, molestiae necessitatibus odit officia officiis perferendis provident quae quas quis ratione sequi similique sit soluta tempora ullam voluptatem. Dolore excepturi hic labore sunt. Animi beatae deserunt, harum in itaque quasi quibusdam quos rem repellat sapiente sed, sit! Fuga harum molestias ullam. Adipisci facilis, fugiat hic nisi porro quibusdam tempora.</p>
        </main>

<%- include('./fragments/footer.ejs') %>