<%- include('../../fragments/header.ejs') %>




<main>
  <h2> Edycja autora </h2>
  <form class="form">
    <table class="table-inputs">
      <tbody>
    <tr>
      <td>
        <label for="FirstName">FirstName: <span class="symbol-required">*</span></label>
        <input type="text" name="FirstName" id="FirstName" value="Adrian" required>
        <span id="errorFirstName" class="error-text"></span>

      </td>
      <td>
        <label for="LastName">LastName: <span class="symbol-required">*</span></label>
        <input type="text" name="LastName" id="LastName" value="Narowski" required>
        <span id="errorLastName" class="error-text"></span>
      </td>
      <td>
        <label for="Email">Email: <span class="symbol-required">*</span></label>
        <input type="email" name="Email" id="Email" value="adNarow@gmail.com" required>
        <span id="errorEmail" class="error-text"></span>
      </td>
      <td>
        <div class="form-buttons">
          <input type="submit" value="Zmień" class="form-button-submit">
          <input type="button" class="form-button-cancel" onclick="history.back(-2); return false;" value="Anuluj">
          <p id="errorSummary"></p>
        </div>
      </td>
    </tr>
      </tbody>
    </table>


  </form>


</main>

<%- include('../../fragments/footer.ejs') %>